<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhifa.wxgzh.mapper.WxUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.zhifa.wxgzh.domain.WxUserInfo">
    <!--@mbg.generated-->
    <!--@Table wx_user_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, wx_open_id
  </sql>

    <select id="getByOpenId" resultType="com.zhifa.wxgzh.domain.WxUserInfo">
         select * from wx_user_info where wx_open_id=#{wxOpenId}
    </select>
</mapper>